{% extends "base.html" %} {% block title %}Admin{% endblock %} {% block content
%}
<h1>Admin menu</h1>
<br>
{% if view == 'grid' %}
<form class="form-switch" method="POST">   

    <input class="switch" type="submit" src="/static/images/table.png" value="table" name="view">

</form>
{% endif %}

{% if view == 'table' %}
<form class="form-switch" method="POST">  

    <input class="switch2" type="submit" src="/static/images/grid.png" value="grid" name="view">

</form>
{% endif %}

{% if view == 'table' %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">E-mail</th>
      <th scope="col">Login count</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.login_count }}</td>
      <td><a href="/update/{{user.id}}" type="button" class="btn btn-warning">Edit</a></td>
      <td><a href="/delete/{{user.id}}" type="button" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if view == 'grid' %}
<div class="row row-cols-4">
  {% for user in users %}
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><b>User ID: </b>{{ user.id }}</h5>
        <p class="card-text">
          <p><b>Name: </b>{{ user.name }}</p>
          <p><b>Surname: </b>{{ user.last_name }}</p>
          <p><b>Email: </b>{{ user.email }}</p>
          <p><b>Login count: </b>{{ user.login_count }}</p>
        </div>
          <a href="/admin/{{user.id}}/update" type="button" class="btn btn-warning">Edit</a>
          <a href="/delete/{{user.id}}" type="button" class="btn btn-danger">Delete</a>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    
  </div>
  

  {% endfor %}
  {% endif %}
</div>

{% endblock %}
