{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1>Posts</h1>
<br>
{% if view == 'grid' %}
<form class="form-switch" method="POST">   

    <input class="switch" type="submit" src="/static/images/table.png" value="table" name="view">

</form>
{% endif %}

{% if view == 'table' %}
<form class="form-switch" method="POST">  

    <input class="switch2" type="submit" src="/static/images/grid.png" value="grid" name="view">

</form>

{% endif %}
  {% if view == 'grid' %}
  <div class="row row-cols-1 row-cols-md-3 g-4" >
    {% for post in posts %}
    <div class="col">
      <div class="card h-100">
        <img src="/static/images/{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">
            {% if post.content|length >20 %}
            {{ post.content[:40] + "..."}}
            {% else %}
            {{ post.content}}
            {% endif %}
            <div class="card-buttons">
            <a href="/post/{{post.id}}" type="button" class="btn btn-warning">More</a>
            {% if current_user.isAdmin == True %}
            <a href="" type="button" class="btn btn-warning">Edit</a>
            <a href="/post/delete/{{post.id}}" type="button" class="btn btn-danger">Delete</a>
            {% endif %}
          </div>
          
          </div>
            
           
        <div class="card-footer">
          <small class="text-muted">{{ post.date_posted.strftime("%b %d, %Y") }}</small>
        </div>
      </div>
      
    </div>

    {% endfor %}
  </div>
  {% elif view == 'table' %}
  <table class="table">
    <thead>
      
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Image</th>
        <th scope="col">Date</th>
        {% if current_user.isAdmin == True %}
        <th scope="col">Tools</th>
        {% endif %}
      </tr>
    </thead>
    
    <tbody>
      {% for post in posts %}
      <tr>
        <th scope="row">{{ post.id }}</td>
        <td>{{ post.title}}</td>
        <td>
          {% if post.content|length >20 %}
          {{ post.content[:20] + "..."}}
          {% else %}
          {{ post.content}}
          {% endif %}
        </td>
        <td>{% if post.image|length >20 %}
          {{ post.image[:20] + "..."}}
          {% else %}
          {{ post.image}}
          {% endif %}</td>
        <td>{{ post.date_posted.strftime("%b %d, %Y") }}</td>
        <td><a href="/post/{{post.id}}" type="button" class="btn btn-warning">More</a></td>
        {% if current_user.isAdmin == True %}
        <td><a href="" type="button" class="btn btn-warning">Edit</a></td>
        <td><a href="" type="button" class="btn btn-danger">Delete</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
    
  </table>
  {% endif %}


{% with messages = get_flashed_messages() %} {% if messages %}{% for message in
messages %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div
    id="liveToast"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <strong class="me-auto">Alert</strong>
      <small>just now</small>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">{{message}}</div>
  </div>
</div>
{% endfor %}
<script>
  window.onload = (event) => {
    let myAlert = document.querySelector(".toast");
    let bsAlert = new bootstrap.Toast(myAlert);
    bsAlert.show();
  };
</script>
{% endif %} {% endwith %} {% endblock %}
