{% extends "base.html" %} {% block title %}profile{% endblock %} {% block
content %}
<h1>Update user</h1>

<form action="/update/{{user.id}}" method="POST">
  <center>
    {{ form.hidden_tag() }}
    <h5>{{ form.email.label(class="form-label")}}</h5>
    {{ form.email(value=user.email) }}
    <h5>{{ form.name.label(class="form-label")}}</h5>
    {{ form.name(value=user.name) }}
    <h5>{{ form.last_name.label(class="form-label")}}</h5>
    {{ form.last_name(value=user.last_name) }}
    <h5>{{ form.password.label(class="form-label")}}</h5>
    {{ form.password(value=user.password) }} {{ form.submit }}
  </center>
</form>

{% endblock %}
